In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
df=pd.read_csv('/home/jitendra/Desktop/ml_projects/Social_Network_Ads.csv')

In [37]:
df.head()
# gf=df.to_numpy()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [50]:
X=df[['Gender','Age','EstimatedSalary']]
y=df['Purchased']

In [51]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
# print(df['Gender'])
df['Gender']=le.fit_transform(df['Gender'])
# print(df['Gender'])

In [52]:
from sklearn.model_selection import train_test_split
train_X,test_x,train_Y,test_y=train_test_split(X,y,test_size=0.2,random_state=1)

feature scalling

In [59]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train_X=sc.fit_transform(train_X)
test_x=sc.transform(test_x)

In [63]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(train_X,train_Y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [64]:
y_pred=classifier.predict(test_x)

In [65]:
print(y_pred)

[0 0 1 1 0 0 0 1 0 1 0 0 0 1 1 1 1 0 0 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 0 0
 0 1 0 1 1 1 0 1 1 1 1 0 1 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 1 0 1 0 1 0
 0 1 0 0 0 0]

In [66]:
print(test_y)

398    0
125    0
328    1
339    1
172    0
      ..
347    1
41     0
180    0
132    0
224    0
Name: Purchased, Length: 80, dtype: int64

In [72]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(test_y,y_pred)
ac=accuracy_score(test_y,y_pred)

In [73]:
print(cm)

[[41  7]
 [ 5 27]]

In [74]:
print(ac)

0.85